body {
    font-family: $base-font-family;
    color: $text-color;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: cornflowerblue;
    &:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
}

.site-title {
    font-weight: 400; 
    font-size:40px;
    margin-top: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.home-links {
    margin: 0;
    margin-bottom: 0.9em;
}
