<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
</head>
<body>
<div class="container">
   <h1 class="site-title">Munindra Nath</h1>
    <table>
        <tr>
            <td>now </td>
            <td>: <a href="/projects/">now</a></td>
        </tr>
        <tr>
            <td>books </td>
            <td>: <a href="/reading/">list</a></td>
        </tr>
        <tr>
            <td>blog </td>
            <td>: <a href="/thinking/">blog</a></td>
        </tr>
        <tr>
            <td>misc </td>
            <td>: <a href="/misc/">misc</a></td>
        </tr>

    </table>
    
    
    
  {{ content }}
</div>
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
</body>
</html>
